*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    background-image: url('img/question marks.jpeg');
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 30px;
}

#faq{
    text-align: center;
    padding-bottom: 25px;
}

.question{
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin: 5% 0 5% 2%;
}

.question::after{
    content: "+";
    position: absolute;
    left: 68vw;
    cursor: pointer; 
}

.content .answer{
    padding-left: 12px;
    height: 0;
    overflow: hidden;
    
}

/* Javascript code after content class is added to any question*/
.active .answer{
    height: 160px;
    transition: 0.5s;
}

/* .active .question{
    transition: 0.5s height;
} */

.active .question::after{
    content: "-";
    height: 0;
    transition: 0.5s height;
}